@import './../../../assets/colors/colors.scss';

.player {
  width: inherit;
  height: 100%;
  background: $background;

  .wrapper {
    width: inherit;
    height: inherit;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    padding-left: 5%;

    .poster {
      z-index: 100;
    }
    .actions {
      position: absolute;
      left: 35%;
      z-index: 99;
    }
  }
}
