.player-actions {
  background: #F7F7F7;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 60px 100px rgba(65, 44, 100, 0.3);
  border-radius: 60px;
  padding: 50px 10px 50px 50px;

  .wrapper {
    display: flex;
    align-items: center;
    width: 100%;

    .player-events {
      width: 95%;
      cursor: pointer;

      .events {
        display: flex;
        justify-content: center;
        align-items: center;

        .left-side, .right-side, .center {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .left-side {
          .icon-wrapper {
            padding: 0 22px;
          }
        }
        .right-side {
          .icon-wrapper {
            padding: 0 22px;
          }
        }
        .center {
          
          .icon-wrapper {
            margin: 0 22px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #F8F8F8;
            box-shadow: -10px -10px 15px #FFFFFF, 10px 10px 10px rgba(0, 0, 0, 0.05), inset 10px 10px 10px rgba(0, 0, 0, 0.05), inset -10px -10px 20px #FFFFFF;
            .icon-bg {
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;          
              background: linear-gradient(159.16deg, #917CE4 26.46%, rgba(63, 45, 137, 0) 116.55%);
              box-shadow: inset 10px 10px 15px rgba(255, 255, 255, 0.2);
              filter: drop-shadow(0px 5px 10px rgba(55, 46, 152, 0.65));
            }
          }
          .icon-wrapper-small { 
            width: 57.9px;
            height: 57.9px;
            .icon-bg-small { 
              width: 41.85px;
              height: 41.85px;
            }
          }
          .icon-wrapper-big {
            width: 101px;
            height: 101px;
             .icon-bg-big {
              width: 73px;
              height: 73px;
            }
          }
        }
      }
      .tracker {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 20px;
      }
    }
    .slider-btn {
      width: 5%;
      display: flex;
      justify-content: flex-end;
    }
  }
}
