<div class="player-poster">
  <div class="wrapper">
    <div class="media-poster">
      <img src="./../../../assets/images/codex-omega.svg">
    </div>
    <div class="media-details">
      <div class="label">
        <span>Now Playing</span>
      </div>
      <div class="media-name">
        <div class="song-name">
          <span>Purple Haze</span>
        </div>
        <div class="singer">
          <span>Jimi</span>
        </div>
        <div class="album">
          <span>Woodstock</span>
        </div>
      </div>
      <div class="add-ons">
        <div class="wrap">
          <div class="like">
            <img src="./../../../assets/images/Vector.svg">
          </div>
          <div class="add-to-playlist">
            <img src="./../../../assets/images/ic_round-playlist-add.svg">
          </div>
          <div class="share">
            <img src="./../../../assets/images/dashicons_share.svg">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
